<launch>
	<node pkg="ornibibot" type="prediction" name="prediction" output="screen"> 
	</node>

     <node pkg="rosbag" type="play" name="rosbag_play"  args="--clock $(find ornibibot)/bag/nav2.bag"/>   
 	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find ornibibot)/rviz/rviz_config.rviz" />

</launch>